.story {
  //   background-color: rgba($color-white, 0.6);
  background-color: orange;
  width: 75%;
  margin: 0 auto;
  font-size: $default-font-size;
  border-radius: 3px;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  padding-left: 9rem;
  transform: skewX(-12deg);
  &__shape {
    background-color: red;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }
}
